<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulation <%= @user.name %></h1>
    <p>
      You have successfully finished all the tasks of the <%= @list.name %> list.
    </p>
  </body>
</html>