<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, here is your daily automated count:</h1>
    <p>
      Today, there are <%= @user_count %> users on your website, <%= @task_count %> tasks were created, and <%= @task_done_count %> were done. 
      See you tomorrow !
    </p>
  </body>
</html>