// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.titles {
    font-family: 'Manjari', sans-serif;
    margin: 10px;
    padding-top: 10px;
    padding-left: 30px;
    text-align: center;
}
.main_text {
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    padding: 30px;
    padding-left: 90px;
    padding-right: 90px;
}

