// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_title {
    font-family: 'Manjari', sans-serif;
    padding-top: 30px;
    padding-left: 30px;
    text-align: center;
}

.titles {
    font-family: 'Manjari', sans-serif;
    margin: 10px;
    padding-top: 10px;
    padding-left: 30px;
    text-align: center;
}
.main_text {
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    padding: 30px;
    padding-left: 90px;
    padding-right: 90px;
}

.links {
    background-color: #C19AB7;
    margin: 12px;
    padding: 13px;
    padding-left: 20px;
    font-size: 13px;
    color: black;
}

a:visited {
    color: black;
}

a.links:hover {
    color: inherit;
    background-color: inherit;
    font-size: 15px;
    text-decoration: none;
}

.lower-texts {
    margin-top: 60px;
    font-size: 13px;
    padding-left: 10px;
}

a.lower-texts:hover {
    color: inherit;
    background-color: inherit;
    font-size: 15px;
    text-decoration: none;
}

.signed-out-texts {
    font-size: 13px;
    padding-left: 10px;
}

a.signed-out-texts:hover {
    color: inherit;
    background-color: inherit;
    font-size: 15px;
    text-decoration: none;
}