// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_text {
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    padding: 30px;
    padding-left: 90px;
    padding-right: 90px;
}

.sub-texts {
    text-align: center;
}

.secondary-pages-links {
    margin: 12px;
    padding: 14px;
    font-size: 13px;
    color: black;
    text-transform: capitalize;
}

.secondary-pages-lower-texts {
    font-size: 13px;
    padding-right: 70px;
    color: black;
}

a:hover {
    text-decoration: none;
}